html {
    font-size: 100%;
}
/* Declaring font size and the Comfortaa font for text */
body {
  font-family: "Comfortaa", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
	margin: 0px auto auto auto;
	width: 100%;
	position: relative;
	background-color: white;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
/* Declaring font sizes for paragraph and header text, see snakehistory.html for example. */
p {
  font-size: larger;
}
h1 {
  font-size: xx-large;
}

/* Header Navigation Styles, this posed a challenge as a 40px padding was added to the nav bar due to a missing delcaration.*/
body > header nav {
  display: flexbox;
  width: 100%;
  background-color: #b5cc88;
}

header { 
  text-align: center; 
  padding-inline-start: 0%;
}
header nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav a {
  display: block;
  text-decoration: none;
  padding: .5rem 0;        
  color: #4a2c82;
}

/* Upon hovering, navigation text shows an underline to user. */
nav a:hover {
  text-decoration: underline;
}
.header-logo {
  width: 400px;      
  height: auto;
  display: inline-block;
}
body > header > nav ul li {
	display: inline-flex;
	flex: 1 1 auto;
  	text-align: center;
  	margin: 0;
  	padding: 0;
	justify-content: center;
	align-items: center;
    font-family: "Comfortaa", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
	color: #EFEFEF;
	font-size: larger;
	width: 24%;
	padding-top: 5px;
	border-width: 5px;
	border-color: blue;
	border-style: solid;
	
}


footer {
	text-align: center;
  padding: 20px;
	font-family: "Comfortaa", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

#WASD {
  float: right;
  max-width: 1000px;   
  width: 40%;          
  margin-right: 3rem;  
  height: auto;        
  display: block;
}
